# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Docker
*.log
docker-compose.override.yml

# Other files
*.DS_Store
